body { background: #3469b7; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 51px; display: flex; }
.block-filter-0 { color: #6db29a; font-size: 13px; margin-bottom: 5px; }
.block-router-1 { color: #fb98c1; font-size: 20px; margin-bottom: 5px; }
.block-shipping-2 { color: #ed9cd3; font-size: 16px; margin-bottom: 5px; }
.block-invoice-3 { color: #ee6eb8; font-size: 12px; margin-bottom: 5px; }
.block-user-4 { color: #7211ae; font-size: 13px; margin-bottom: 5px; }
.block-payment-5 { color: #3a0852; font-size: 17px; margin-bottom: 5px; }
.block-shipping-6 { color: #638223; font-size: 12px; margin-bottom: 5px; }
.block-sms-7 { color: #565ac2; font-size: 12px; margin-bottom: 5px; }
.block-uploader-8 { color: #c8ad05; font-size: 14px; margin-bottom: 5px; }
.block-helper-9 { color: #9b7e3; font-size: 21px; margin-bottom: 5px; }
.block-cache-10 { color: #9f0f6; font-size: 21px; margin-bottom: 5px; }